html{
    font-family: 'Times New Roman', Times, serif ;
}
body{
    margin: 0;
    background-color: #efefefef;
    
    
}
header{
    background-color: black;
    color: white;
    padding: 3rem 2rem;
}
header h1{
    font-size: 4rem;
    text-align: center;
}

.container{
    width:700px;
    margin: 0 auto;
}

section article{
    transition: all 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover{
    box-shadow: 0 0.1rem 0.4rem rgba(0,0,0,3);
}
section article p {
    text-align: justify;
}
section article h2 , section article p {
    margin:1rem ;
}

article ul{
    text-align: center ;

    list-style: none;
    margin: 10px;
    padding: 10px; 
    line-height: 2;
    text-transform: uppercase;
    
}
article h2{
    text-align: center;
}
article ul a{
    text-decoration: none;
    color: black;
    
}
article ul a:hover{
    color: cornflowerblue;
}
footer{
    background-color: black;
    padding: 3rem;
    color:white;
}
footer section{
    float: right;
}
footer p{
    margin: 0;
}
footer a{
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}
footer a:hover{
    color: cornflowerblue;
}

.formulario{
    width:1000px;
    margin: 0 auto;
    

}

.formulario label{
    text-align: center;
}

.formulario textarea{
    border-color: #AAAAAA #AAAAAA #CCCCCC;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgb(0 0 0 / 20%) inset;
    height: auto;
    margin: 0;
    outline: medium none;
    overflow: auto;
    padding: 8px 10px;
    width: 100%;
}

#author {
    border-color: #AAAAAA #AAAAAA #CCCCCC;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgb(0 0 0 / 20%) inset;
    margin: 0;
    outline: medium none;
    padding: 6px 8px;
    vertical-align: middle;
    width: 98%;
}

#email{
    border-color: #AAAAAA #AAAAAA #CCCCCC;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 #ffffff, 0 1px 1px rgb(0 0 0 / 20%) inset;
    margin: 0;
    outline: medium none;
    padding: 6px 8px;
    vertical-align: middle;
    width: 98%;
}

#submit{
    font-size:10px;
    font-weight:bold;
    color:white;
    background:#638cb5;
    border:0px;
    width:130px;
    height:30px;
    cursor: pointer;
}